*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: fixed;
}
.container{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.morador input{
    padding: 0.3rem 1rem;
    border: 1px solid red;
    border-radius: 4px;
}
.adicionar{
    padding: 2px;
    border-radius: 3px;
    border: 1px solid red;
} 

.input_liberacoes{
    display: inline-flex;
    text-align: center;
}

.adicionar{
    margin-top: 10px;
}

.liberacoes{
    display: flex;
    width: 750px;
    margin: 0 auto;
    border: 2px solid black;
    height: 500px;
    justify-content: space-around;
}
.morador{
    display: flex;
    border: 2px solid red;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.liberado{
    display: flex;
    border: 2px solid blue;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}   

.add-more{
    border: rgba(255, 0, 0, 0);
    border-radius: none;
    transition: 0.5s;
    margin: 10px;
}

.add-more:hover{
    border-radius: 3px;
    border: 1px solid rgba(255, 0, 0, 1);
}


@media screen and (max-width: 768px) {
    .liberacoes{
        width:fit-content;
        flex-direction: column;
    }
    
}

